In [75]:
import pandas as pd
import numpy as np
import json
import os
import flatdict

# Extract Business Data Set

In [76]:
businesses = []
with open('C:/Users/kennd/Downloads/yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_business.json') as f:
    for business in f:
        businesses.append(json.loads(business))
        
businesses2 = businesses

business_df = pd.DataFrame(businesses2)

In [82]:
business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77445 entries, 0 to 77444
Data columns (total 15 columns):
attributes       77445 non-null object
business_id      77445 non-null object
categories       77445 non-null object
city             77445 non-null object
full_address     77445 non-null object
hours            77445 non-null object
latitude         77445 non-null float64
longitude        77445 non-null float64
name             77445 non-null object
neighborhoods    77445 non-null object
open             77445 non-null bool
review_count     77445 non-null int64
stars            77445 non-null float64
state            77445 non-null object
type             77445 non-null object
dtypes: bool(1), float64(3), int64(1), object(10)
memory usage: 8.3+ MB

In [78]:
business_df.city.value_counts()

Las Vegas                         17423
Phoenix                           10629
Charlotte                          5189
Scottsdale                         5139
Montréal                           3891
Pittsburgh                         3337
Edinburgh                          3272
Mesa                               3190
Henderson                          2839
Tempe                              2773
Chandler                           2425
Madison                            2104
Glendale                           1823
Gilbert                            1716
Peoria                              929
Karlsruhe                           898
North Las Vegas                     819
Surprise                            587
Champaign                           462
Goodyear                            459
Avondale                            386
Queen Creek                         348
Matthews                            346
Waterloo                            262
Urbana                              262
Fort Mill                           238
Cave Creek                          229
Middleton                           208
Laval                               196
Kitchener                           188
                                  ...
Ft. Mill                              1
Pittsburg                             1
St Leonard                            1
Chandler-Gilbert                      1
Sunnyslope                            1
Chateau                               1
Sedona                                1
Mesa AZ                               1
Columbus                              1
Mt. Oliver Boro                       1
W Henderson                           1
Glibert                               1
NELLIS AFB                            1
South Hills                           1
Communauté-Urbaine-de-Montréal        1
MMRP                                  1
Whitehall                             1
Montréal-Ouest                        1
North Scottsdale                      1
Central City                          1
Ratho                                 1
Golden Square Mile                    1
Le Vieux-Port                         1
Goldfield                             1
Deux-Montagnes                        1
Balerno                               1
Robinson Township                     1
Scotesdale                            1
Mount Royal                           1
henderson                             1
Name: city, dtype: int64

In [79]:
import pickle
with open('business_df.pkl', 'wb') as picklefile: 
    pickle.dump(business_df, picklefile)

# Extract Review Dataset

In [81]:
reviews = []
with open('C:/Users/kennd/Downloads/yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_review.json') as f:
    for review in f:
        reviews.append(json.loads(review))
    
reviews2 = reviews

review_df = pd.DataFrame(reviews2)

In [84]:
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225213 entries, 0 to 2225212
Data columns (total 8 columns):
business_id    object
date           object
review_id      object
stars          int64
text           object
type           object
user_id        object
votes          object
dtypes: int64(1), object(7)
memory usage: 135.8+ MB

In [85]:
import pickle
with open('review_df.pkl', 'wb') as picklefile: 
    pickle.dump(review_df, picklefile)

In [86]:
with open("review_df.pkl", 'rb') as picklefile: 
    review_df = pickle.load(picklefile)

# Select only relevant business data (TBU)

In [ ]:
with open("business_df.pkl", 'rb') as picklefile: 
    business_df = pickle.load(picklefile)

In [ ]:
business_df.info()