In [1]:
import pandas as pd
import numpy as np
import json
import os
import flatdict

# Extract Business Data Set

In [2]:
businesses = []
with open('C:/Users/kennd/Downloads/yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_business.json') as f:
    for business in f:
        businesses.append(json.loads(business))
        
businesses2 = businesses

business_df = pd.DataFrame(businesses2)

In [3]:
business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77445 entries, 0 to 77444
Data columns (total 15 columns):
attributes       77445 non-null object
business_id      77445 non-null object
categories       77445 non-null object
city             77445 non-null object
full_address     77445 non-null object
hours            77445 non-null object
latitude         77445 non-null float64
longitude        77445 non-null float64
name             77445 non-null object
neighborhoods    77445 non-null object
open             77445 non-null bool
review_count     77445 non-null int64
stars            77445 non-null float64
state            77445 non-null object
type             77445 non-null object
dtypes: bool(1), float64(3), int64(1), object(10)
memory usage: 8.3+ MB

In [4]:
business_df.city.value_counts()

Las Vegas                  17423
Phoenix                    10629
Charlotte                   5189
Scottsdale                  5139
Montr√©al                    3891
Pittsburgh                  3337
Edinburgh                   3272
Mesa                        3190
Henderson                   2839
Tempe                       2773
Chandler                    2425
Madison                     2104
Glendale                    1823
Gilbert                     1716
Peoria                       929
Karlsruhe                    898
North Las Vegas              819
Surprise                     587
Champaign                    462
Goodyear                     459
Avondale                     386
Queen Creek                  348
Matthews                     346
Waterloo                     262
Urbana                       262
Fort Mill                    238
Cave Creek                   229
Middleton                    208
Laval                        196
Kitchener                    188
                           ...
Le Vieux-Port                  1
Centennial Hills               1
Oregon                         1
Deux-Montagnes                 1
Metro Phoenix                  1
Estrella Village               1
Surprise Crossing              1
Baie-D'urfe                    1
Stutensee-Blankenloch          1
Henderston                     1
C Las Vegas                    1
Glasgow                        1
Las Vegas, NV                  1
Old Montreal                   1
Bloomfield                     1
Milton Bridge                  1
Pineville                      1
Henderson and Las vegas        1
St Leonard                     1
North Las Vegas                1
Bruchsal                       1
Grand Canyon                   1
La Paz                         1
Cornwell Development           1
Columbus                       1
Lake Las Vegas                 1
St-Laurent                     1
N E Las Vegas                  1
Ft. Mill                       1
New Dundee                     1
Name: city, dtype: int64

In [5]:
import pickle
with open('C:/Users/kennd/Documents/Github/mcnulty_yelp/data/business_df.pkl', 'wb') as picklefile: 
    pickle.dump(business_df, picklefile)

# Extract Review Dataset

In [6]:
reviews = []
with open('C:/Users/kennd/Downloads/yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_review.json') as f:
    for review in f:
        reviews.append(json.loads(review))
    
reviews2 = reviews

review_df = pd.DataFrame(reviews2)

In [7]:
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225213 entries, 0 to 2225212
Data columns (total 8 columns):
business_id    object
date           object
review_id      object
stars          int64
text           object
type           object
user_id        object
votes          object
dtypes: int64(1), object(7)
memory usage: 135.8+ MB

In [8]:
import pickle
with open('C:/Users/kennd/Documents/Github/mcnulty_yelp/data/review_df.pkl', 'wb') as picklefile: 
    pickle.dump(review_df, picklefile)

# Select only relevant business data to map to review data (TBU)

In [9]:
with open("C:/Users/kennd/Documents/Github/mcnulty_yelp/data/business_df.pkl", 'rb') as picklefile: 
    business_df = pickle.load(picklefile)

In [10]:
business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77445 entries, 0 to 77444
Data columns (total 15 columns):
attributes       77445 non-null object
business_id      77445 non-null object
categories       77445 non-null object
city             77445 non-null object
full_address     77445 non-null object
hours            77445 non-null object
latitude         77445 non-null float64
longitude        77445 non-null float64
name             77445 non-null object
neighborhoods    77445 non-null object
open             77445 non-null bool
review_count     77445 non-null int64
stars            77445 non-null float64
state            77445 non-null object
type             77445 non-null object
dtypes: bool(1), float64(3), int64(1), object(10)
memory usage: 8.3+ MB

In [11]:
business_df_short = business_df[['name','city','open','review_count','stars','state','business_id','categories','latitude','longitude']]

In [12]:
business_df_short.head()

,name,city,open,review_count,stars,state,business_id,categories,latitude,longitude
0,Mr Hoagie,Dravosburg,True,4,4.5,PA,5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",40.354327,-79.900706
1,Clancy's Pub,Dravosburg,True,4,3.5,PA,UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],40.350553,-79.886814
2,Joe Cislo's Auto,Dravosburg,True,3,5.0,PA,3eu6MEFlq2Dg7bQh8QbdOg,"[Auto Repair, Automotive]",40.350956,-79.889059
3,Cool Springs Golf Center,Bethel Park,False,5,2.5,PA,cE27W9VPgO88Qxe4ol6y_g,"[Active Life, Mini Golf, Golf]",40.354115,-80.014660
4,Verizon,Pittsburgh,True,5,2.5,PA,HZdLhv6COCleJMo7nPl-RA,"[Shopping, Home Services, Internet Service Pro...",40.357620,-80.059980

# Select only relevant review data (TBU)

In [13]:
with open("C:/Users/kennd/Documents/Github/mcnulty_yelp/data/review_df.pkl", 'rb') as picklefile: 
    review_df = pickle.load(picklefile)

In [14]:
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225213 entries, 0 to 2225212
Data columns (total 8 columns):
business_id    object
date           object
review_id      object
stars          int64
text           object
type           object
user_id        object
votes          object
dtypes: int64(1), object(7)
memory usage: 135.8+ MB

In [15]:
review_df_short = review_df[['text','stars','date','business_id','user_id','review_id']]

In [16]:
review_df_short.head()

,text,stars,date,business_id,user_id,review_id
0,"Mr Hoagie is an institution. Walking in, it do...",4,2012-08-01,5UmKMjUEUNdYWqANhGckJw,PUFPaY9KxDAcGqfsorJp3Q,Ya85v4eqdd6k9Od8HbQjyA
1,Excellent food. Superb customer service. I mis...,5,2014-02-13,5UmKMjUEUNdYWqANhGckJw,Iu6AxdBYGR4A0wspR9BYHA,KPvLNJ21_4wbYNctrOwWdQ
2,Yes this place is a little out dated and not o...,5,2015-10-31,5UmKMjUEUNdYWqANhGckJw,auESFwWvW42h6alXgFxAXQ,fFSoGV46Yxuwbr3fHNuZig
3,All the food is great here. But the best thing...,5,2013-11-08,UsFtqoBl7naz8AVUBZMjQQ,uK8tzraOp4M5u3uYrqIBXg,Di3exaUCFNw1V4kSNW5pgA
4,We checked this place out this past Monday for...,3,2014-03-29,UsFtqoBl7naz8AVUBZMjQQ,I_47G-R2_egp7ME5u_ltew,0Lua2-PbqEQMjD9r89-asw

# Limit only to Restaurants only (to be agreed upon)
### Stricly looking for the word 'restaurant' but can be expanded to include others (e.g. fast food)

In [17]:
business_df_short.head()

,name,city,open,review_count,stars,state,business_id,categories,latitude,longitude
0,Mr Hoagie,Dravosburg,True,4,4.5,PA,5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",40.354327,-79.900706
1,Clancy's Pub,Dravosburg,True,4,3.5,PA,UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],40.350553,-79.886814
2,Joe Cislo's Auto,Dravosburg,True,3,5.0,PA,3eu6MEFlq2Dg7bQh8QbdOg,"[Auto Repair, Automotive]",40.350956,-79.889059
3,Cool Springs Golf Center,Bethel Park,False,5,2.5,PA,cE27W9VPgO88Qxe4ol6y_g,"[Active Life, Mini Golf, Golf]",40.354115,-80.014660
4,Verizon,Pittsburgh,True,5,2.5,PA,HZdLhv6COCleJMo7nPl-RA,"[Shopping, Home Services, Internet Service Pro...",40.357620,-80.059980

In [18]:
restaurant_bool = []
for x in business_df_short.categories:
    if "Resturant" in x or "Restaurants" in x:
        restaurant_bool.append(True)
    else:
        restaurant_bool.append(False)

In [19]:
business_df_short['marker'] = pd.Series(restaurant_bool)

C:\Users\kennd\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [20]:
business_df_final = business_df_short[business_df_short.marker == True]

In [21]:
business_df_final = business_df_final.reset_index(drop=True)
del business_df_final['categories']
del business_df_final['marker']

In [22]:
business_df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25071 entries, 0 to 25070
Data columns (total 9 columns):
name            25071 non-null object
city            25071 non-null object
open            25071 non-null bool
review_count    25071 non-null int64
stars           25071 non-null float64
state           25071 non-null object
business_id     25071 non-null object
latitude        25071 non-null float64
longitude       25071 non-null float64
dtypes: bool(1), float64(3), int64(1), object(4)
memory usage: 1.6+ MB

In [23]:
import pickle
with open('C:/Users/kennd/Documents/Github/mcnulty_yelp/data/business_df.pkl', 'wb') as picklefile: 
    pickle.dump(business_df_final, picklefile)

# Remove non-restaurant reviews in review data set

In [24]:
business_dict = dict.fromkeys(business_df_final.business_id)

In [25]:
review_df_short.head()

,text,stars,date,business_id,user_id,review_id
0,"Mr Hoagie is an institution. Walking in, it do...",4,2012-08-01,5UmKMjUEUNdYWqANhGckJw,PUFPaY9KxDAcGqfsorJp3Q,Ya85v4eqdd6k9Od8HbQjyA
1,Excellent food. Superb customer service. I mis...,5,2014-02-13,5UmKMjUEUNdYWqANhGckJw,Iu6AxdBYGR4A0wspR9BYHA,KPvLNJ21_4wbYNctrOwWdQ
2,Yes this place is a little out dated and not o...,5,2015-10-31,5UmKMjUEUNdYWqANhGckJw,auESFwWvW42h6alXgFxAXQ,fFSoGV46Yxuwbr3fHNuZig
3,All the food is great here. But the best thing...,5,2013-11-08,UsFtqoBl7naz8AVUBZMjQQ,uK8tzraOp4M5u3uYrqIBXg,Di3exaUCFNw1V4kSNW5pgA
4,We checked this place out this past Monday for...,3,2014-03-29,UsFtqoBl7naz8AVUBZMjQQ,I_47G-R2_egp7ME5u_ltew,0Lua2-PbqEQMjD9r89-asw

In [26]:
review_bool = []
counter = 0
for x in review_df_short.business_id:
#     counter += 1
#     if counter % 10000 == 0:
#         print(counter)
    if x in business_dict:
        review_bool.append(True)
    else:
        review_bool.append(False)

In [27]:
review_df_short['marker'] = pd.Series(review_bool)

C:\Users\kennd\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [28]:
review_df_final = review_df_short[review_df_short['marker'] == True]
del review_df_final['marker']

In [29]:
review_df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1363242 entries, 0 to 2225172
Data columns (total 6 columns):
text           1363242 non-null object
stars          1363242 non-null int64
date           1363242 non-null object
business_id    1363242 non-null object
user_id        1363242 non-null object
review_id      1363242 non-null object
dtypes: int64(1), object(5)
memory usage: 72.8+ MB

In [30]:
import pickle
with open('C:/Users/kennd/Documents/Github/mcnulty_yelp/data/review_df.pkl', 'wb') as picklefile: 
    pickle.dump(review_df_final, picklefile)

# Merge business data and review data set

In [35]:
review_business_df = pd.merge(review_df_final,business_df_final,on="business_id")

In [36]:
review_business_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1363242 entries, 0 to 1363241
Data columns (total 14 columns):
text            1363242 non-null object
stars_x         1363242 non-null int64
date            1363242 non-null object
business_id     1363242 non-null object
user_id         1363242 non-null object
review_id       1363242 non-null object
name            1363242 non-null object
city            1363242 non-null object
open            1363242 non-null bool
review_count    1363242 non-null int64
stars_y         1363242 non-null float64
state           1363242 non-null object
latitude        1363242 non-null float64
longitude       1363242 non-null float64
dtypes: bool(1), float64(3), int64(2), object(8)
memory usage: 146.9+ MB

In [37]:
import pickle
with open('C:/Users/kennd/Documents/Github/mcnulty_yelp/data/review_business_df.pkl', 'wb') as picklefile: 
    pickle.dump(review_business_df, picklefile)

# Tokenizing paragraphs into sentences

In [ ]:
import pandas as pd
import pickle
with open("C:/Users/kennd/Documents/Github/mcnulty_yelp/data/review_business_df.pkl", 'rb') as picklefile: 
    review_business_df = pickle.load(picklefile)

In [ ]:
review_business_df = review_business_df
review_list = list(review_business_df.iloc[:,0])
rows = review_business_df.shape[0]
sentence_list = []
counter = 0
for row_index in range(rows):
#     counter += 1 
#     if counter % 10000 == 0:
#         print(counter)
    for review in review_list[row_index].split('.'):
        if len(review) > 2:
            rev = list([review])
            aux = list(review_business_df.iloc[row_index,1:])
            rev.extend(aux)
            sentence_list.append(rev)
        else:
            continue

In [ ]:
final_df = pd.DataFrame(sentence_list)

In [ ]:
cols = ['sentence', 'stars_x', 'date', 'business_id', 'user_id', 'review_id',
       'name', 'city', 'open', 'review_count', 'stars_y', 'state', 'latitude',
       'longitude']

In [ ]:
final_df.columns = cols

In [ ]:
final_df.info()

In [ ]:
import pickle
with open('C:/Users/kennd/Documents/Github/mcnulty_yelp/data/fina_df.pkl', 'wb') as picklefile: 
    pickle.dump(final_df, picklefile)

# Load final raw data set

In [ ]:
import pickle
with open("C:/Users/kennd/Documents/Github/mcnulty_yelp/data/fina_df.pkl", 'rb') as picklefile: 
    final_df = pickle.load(picklefile)